/QtProject.conf
/baidunetdisk
/bash/bash_history
/beets/library.db
/beets/state.pickle
/btop/themes/matugen.theme
/cava/shaders
/cava/themes
/dconf
/emacs/.mc-lists.el
/emacs/backup
/emacs/eln-cache/30.2-8d250d40
/emacs/elpa
/emacs/emojis
/emacs/places
/emacs/recentf
/emacs/tree-sitter
/fcitx/dbus
/fcitx5
/fish/fish_variables
/games
/gtk-3.0/colors.css
/gtk-3.0/noctalia.css
/gtk-4.0/colors.css
/gtk-4.0/noctalia.css
/ibus/bus
/io.github.clash-verge-rev.clash-verge-rev
/kdeglobals
/kitty/themes/noctalia.conf
/kitty/current-theme.conf
/libreoffice/4
/menus/applications-merged
/mihomo
/mozilla
/mpv/log
/niri/matugen.kdl
/noctalia/color-list
/noctalia/colors.json
/noctalia/plugins/keybind-cheatsheet
/nwg-look/config
/okularpartrc
/okularrc
/pavucontrol.ini
/pulse
/pywalfox/config.json
/qt5ct/colors/matugen.conf
/qt5ct/colors/noctalia.conf
/qt6ct/colors
/qutebrowser/noctalia.py
/rmpc/matugen.ron
/rmpc/noctalia.ron
/systemd/user/sockets.target.wants
/systemd/user/pipewire.service.wants
/systemd/user/default.target.wants
/tmux/color.conf
/wmenu/color.sh
/xsettingsd/xsettingsd.conf
/yazi/flavors/matugen.yazi
/yazi/flavors/noctalia.yazi/flavor.toml
