/baidunetdisk
/beets/library.db
/beets/state.pickle
/btop
/cava
/dconf
/fcitx/dbus
/fcitx5
/fish/fish_variables
/games
/go/telemetry/local
/gtk-3.0
/gtk-4.0
/ibus/bus
/io.github.clash-verge-rev.clash-verge-rev
/kitty/themes/noctalia.conf
/kitty/current-theme.conf
/lazygit/config.yml
/mihomo
/mozilla/firefox
/mpv/log
/niri/noctalia.kdl
/noctalia/color-list
/nwg-look
/pulse
/qt5ct/colors
/qt6ct
/qutebrowser/__pycache__
/rmpc/noctalia.ron
/systemd/user
/tmux/color.conf
/wmenu/color.sh
/xsettingsd
/yazi/flavors/noctalia.yazi
/QtProject.conf
/kdeglobals
/okularpartrc
/okularrc
/user-dirs.dirs
/user-dirs.locale
/noctalia/plugins/niri-active-window
/noctalia/plugins/wf-recorder-indicator
/bash/bash_history
/noctalia/colors.json
