@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SymbolsNerdFont", "LiberationSans";
    font-size: 17px;
    min-height: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    text-shadow: none;
}

tooltip {
    color: @on_surface;
    background: @on_primary;
}

tooltip label {
    color: @on_surface;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

menuitem {
    margin: 0px;
    min-height: 24px;
}

menuitem:hover {
    background: @on_primary;
}

menu separator {
    margin: 0px;
    min-height: 0px;
    background: transparent;
}

window#waybar {
    background: @primary;
    color: @on_surface;
}

#workspaces button {
    color: @on_surface;
    background: @on_primary;
    padding-left: 3px;
    padding-right: 7px;
}

#workspaces button.empty {
    color: @on_surface;
    background: @on_primary;
}

#workspaces button.focused {
    color: @on_primary;
    background: @primary;
    padding-left: 3px;
    padding-right: 7px;
}

#workspaces button:last-child {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 0;
}

#window {
    color: @on_primary;
    background: @primary;
    padding-left: 10px;
}

.cffi-niri-windows label {
    background: @on_primary;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#tray,
#custom-calcurse,
#custom-checkupdates,
#custom-usb,
#custom-tty,
#custom-uptime,
#mpd,
#disk,
#cpu,
#memory,
#temperature,
#bluetooth,
#network,
#backlight,
#wireplumber,
#pulseaudio,
#privacy,
#custom-wttr,
#custom-niri-workspace-win,
#custom-clock {
    color: @on_surface;
    background: @on_primary;
    padding-left: 3px;
    padding-right: 3px;
}

#custom-niri-workspace-win {
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: -8;
}

#tray {
    padding-left: 6px;
    padding-right: 6px;
}
