@import "colors.css";

* {
    border: none;
    border-radius: 0;
    /* font-family: "SymbolsNerdFont", "LiberationSans"; */
    font-family: "Fusion Pixel 10px Mono zh_hans";
    font-size: 17px;
    min-height: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    text-shadow: none;
}

tooltip {
    color: @on_surface;
    background: @on_primary;
}

tooltip label {
    color: @on_surface;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

menuitem {
    margin: 0px;
    min-height: 24px;
}

menuitem:hover {
    background: @on_primary;
}

menu separator {
    margin: 0px;
    min-height: 0px;
    background: transparent;
}

window#waybar {
    background: @primary;
    color: @on_surface;
}

#window {
    color: @on_primary;
    background: @primary;
    padding-left: 10px;
}

#tray,
#custom-calcurse,
#custom-checkupdates,
#custom-usb,
#custom-tty,
#custom-uptime,
#mpd,
#disk,
#cpu,
#memory,
#temperature,
#bluetooth,
#network,
#backlight,
#wireplumber,
#pulseaudio,
#privacy,
#custom-wttr,
#custom-leftsep,
#custom-audiorec,
#custom-rec,
#custom-timer,
#custom-rightsep,
#custom-clock {
    color: @on_surface;
    background: @on_primary;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-leftsep,
#custom-rightsep {
    padding: 0px;
}
